html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: mukta;
}

.column {
    display: flex;
    float: left;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hide Mobile Menu icon */
.nav i {
    visibility: hidden;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #051937;
}

#navbar a {

    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

#navbar a:hover {
    background-color: #008793;
}


.landing {
    display: flex;
    top: 0px;
    left: 0px;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top right, #051937, #004d7a, #008793, #00bf72, #a8eb12);}   

#landing-title {
    color: black;
    font-size: 4rem;
    letter-spacing: .10px;
    text-align: center;
    font-family: Permanent Marker;
    text-shadow: 1px 1px 1px white;

}



#landing-detail {
    color: black;
    font-size: 2rem;
    letter-spacing: .10px;
    text-align: center;
    font-family: Permanent Marker; 
    text-shadow: 1px 1px 1px white;

}

#btn{
    background-color: black;
    color: white;
    margin-top: 1em;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px #999;
}
#btn:hover {
    background-color: White;
    color: black;
    border-color: white;
}
#btn:active {
    box-shadow: none;
    transform: translateY(3px);
    
}

#landing-graphics {
    width: 25rem;
}


/* Project Cards */
.card {
    margin: auto;
    transition: 0.3s;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}
.card .container {
    text-align: center;
}
.card p {
    padding-bottom: 10px;
}

/* Resume Section */
.resume {
    display: flex;
    flex-direction: row;
}
.resume a {
    font-size: 15rem;
    margin: auto;
    color: inherit;
}
/* Contact Section  */
#contact {
    display: flex;
    flex-direction: row;
}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs  {
    border-radius: 5px;
    border: hidden;
    height: 20px;
    width: 75%;
    margin: 5px;
}
textarea {
    border-radius: 5px;
    border: hidden;
    width: 75%;
    margin: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    resize: none;
}
#contactBreak {
    width: 80%;
    height: 90%;
    padding-left: 5em;
    border-left: 2px solid black;
}
#contactTitle {
    margin-top: 0;
    margin-bottom: 0;
}



.section {
    display: inline-block;
    height: 100vh;
    width: 100%; 
}

.section:nth-of-type(even) {
    background-color: lightgrey;
}

h2 {
    text-align: center;
    font-size: 3em;
}

/* Nav bar sticky when scrolled */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Mobile Reponsive things */
@media screen and (max-width:600px){
   
    #navbar a {
       display: none;
    } 

    .landing {
        flex-direction: column;
    }

    #landing-graphics {
        width: 80%;
    }

    .nav i {
        visibility: visible;
        float: right;
        color: white;
        position: static;
        margin: 2%;
    }

    #landing-title {
        right: 0;
    }
    #landing-detail {
        right: 0;
        font-size: 1.4rem;
    }

    .resume {
        display: flex;
        flex-direction: column;
    }
    .resume a {
        display: inherit;
        font-size: 10rem;
        margin: 10px;
        text-align: center;
    }
 

    #contact {
        flex-direction: column;
    }


    #contactBreak {
        border: none;
        padding: 0;
    }

    .contactForm {
        width: 100%;
        margin-bottom: 15px;    }  

}
